@font-face {
	font-family: tis-100-copy;
	src: local("tis 100 copy"),
		local("tis-100-copy"),
		url(tis100copy.ttf) format('truetype');
	font-weight: bold;
}

html {
	position: relative;
	background-color: #333333;
	font-family: tis-100-copy;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
}
canvas#game {
	position: relative;
	padding: 0;
	margin: 0 auto;
	display: block;
}
